.registro-paciente {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registro-paciente h2 {
  text-align: center;
  color: #ff69b4;  /* Color femenino */
  font-family: 'Cursive', sans-serif;  /* Fuente coquette */
}

.registro-paciente ul {
  list-style-type: none;
  padding: 0;
}

.registro-paciente li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.registro-paciente li div {
  margin-bottom: 5px;
}

.registro-paciente {
  margin-top: 20px;
}

.registro-paciente form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.registro-paciente form div {
  display: flex;
  flex-direction: column;
}

.registro-paciente form label {
  font-weight: bold;
  color: #ff69b4;  /* Color femenino */
}

.registro-paciente form input,
.registro-paciente form textarea,
.registro-paciente form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.registro-paciente form input[type="date"] {
  padding: 8px 10px;
}

.registro-paciente form button {
  padding: 10px 15px;
  background-color: #ff69b4;  /* Color femenino */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registro-paciente form button:hover {
  background-color: #ff1493;  /* Color más oscuro para hover */
}