<div class="registro-paciente">
    <h2>Registro de Nuevo Paciente</h2>
    <button (click)="cancelar()">
      <span class="fas fa-arrow-left"></span> Atras
    </button>
    <form [formGroup]="formularioPaciente" (ngSubmit)="guardarPaciente()">

      <div>
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text" (blur)="llenarNomCom()" required="true">
      </div>
      <div>
        <label for="apellido">Apellido:</label>
        <input id="apellido" formControlName="apellido" type="text" (blur)="llenarNomCom()" required="true">
      </div>
      <div>
        <label for="nombre_completo">Nombre Completo:</label>
        <input id="nombre_completo" formControlName="nomCom" type="text" >
      </div>
      <div>
        <label for="cedula">Cédula:</label>
        <input id="cedula" formControlName="cedula" type="text" required="true">
      </div>
      <div>
        <label for="direccion">Dirección:</label>
        <input id="direccion" formControlName="direccion" type="text">
      </div>
      <div>
        <label for="telefono">Teléfono:</label>
        <input id="telefono" formControlName="telefono" type="number" required="true">
      </div>
      <div>
        <label for="ocupacion">Ocupación:</label>
        <input id="ocupacion" formControlName="ocupacion" type="text">
      </div>
      <div>
        <label for="genero">Género:</label>
        <select id="genero" formControlName="genero">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email">
      </div>
      <div>
        <label for="nacimiento">Fecha de Nacimiento:</label>
        <input id="nacimiento" formControlName="nacimiento" type="date" (blur)="calcularEdad()">
      </div>
      <div>
        <label for="edad">Edad:</label>
        <input id="edad" formControlName="edad" type="number">
      </div>
      <button type="submit" >Guardar paciente</button>
      <button type="button" (click)="cancelar()">Cancelar</button>
    </form>

  </div>