<div class="busqueda-paciente-container">
  <div class="buttonhom">
    <button type="button" (click)="home()" style="text-align: center;"> <i class="fas fa-home"></i>  </button>
  </div>
  <button type="button" (click)="nuevoPaciente()"><i class="fas fa-user-plus"></i> Crear Paciente</button>
  <button (click)="regresar()">
    <span class="fas fa-arrow-left"></span> Atras
  </button>
  <h2>Lista de Pacientes</h2>
  <div class="filtro-container">
    <input
      type="text"
      placeholder="Buscar por cédula, nombre o apellido"
      [(ngModel)]="filtro"
      (input)="filtrarPacientes()"
      class="input-filtro"
    />
  </div>
  <ul>
    <li *ngFor="let paciente of pacientesFiltrados" (click)="seleccionarPaciente(paciente)">

       <div class="column-count: 5; column-gap: 20px; ">
        {{ paciente.cedula }} - {{ paciente.nomCom }}
      <button (click)="verHistoriaClinica(paciente)" title="Historia Clínica">
        <i class="fas fa-file-medical"></i>
      </button>
      <button (click)="nuevoTratamiento(paciente)" title="Nuevo Tratamiento">
        <i class="fas fa-plus-circle"></i>
      </button>
      <button (click)="verTratamientos(paciente)" title="Tratamientos">
        <i class="fas fa-list"></i>
      </button>
    </div>

    </li>
    <li *ngIf="pacientesFiltrados.length === 0">
      <td colspan="3" class="sin-resultados">No se encontraron resultados</td>
    </li>
    <button (click)="regresar()">
      <span class="fas fa-arrow-left"></span> Atras
    </button>
  </ul>

  <div *ngIf="selectedPaciente" class="editar-paciente">
    <h2>Editar Paciente</h2>
    <form [formGroup]="pacienteForm" (ngSubmit)="guardarCambios()">
      <div>
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text">
      </div>
      <div>
        <label for="apellido">Apellido:</label>
        <input id="apellido" formControlName="apellido" type="text">
      </div>
      <div>
        <label for="nombre_completo">Nombre Completo:</label>
        <input id="nombre_completo" formControlName="nomCom" type="text">
      </div>
      <div>
        <label for="cedula">Cédula:</label>
        <input id="cedula" formControlName="cedula" type="text">
      </div>
      <div>
        <label for="direccion">Dirección:</label>
        <input id="direccion" formControlName="direccion" type="text">
      </div>
      <div>
        <label for="telefono">Teléfono:</label>
        <input id="telefono" formControlName="telefono" type="number">
      </div>
      <div>
        <label for="ocupacion">Ocupación:</label>
        <input id="ocupacion" formControlName="ocupacion" type="text">
      </div>
      <div>
        <label for="genero">Género:</label>
        <select id="genero" formControlName="genero">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email">
      </div>
      <div>
        <label for="nacimiento">Fecha de Nacimiento:</label>
        <input id="nacimiento" formControlName="nacimiento" type="date">
      </div>
      <button type="submit" [disabled]="pacienteForm.invalid">Guardar Cambios</button>
      <button type="button" (click)="cancelarEdicion()">Cancelar</button>
    </form>
  </div>
</div>
