<div class="busqueda-paciente-container">
  <h2>Lista de Pacientes</h2>
  <ul>
    <li *ngFor="let paciente of pacientes" (click)="seleccionarPaciente(paciente)">
      {{ paciente.nombre_completo }} - {{ paciente.cedula }}
      <button (click)="verHistoriaClinica(paciente)">
        <i class="fas fa-file-medical"></i> Historia Clínica
      </button>
      <button (click)="nuevoTratamiento(paciente)">
        <i class="fas fa-plus-circle"></i> Nuevo Tratamiento
      </button>
      <button (click)="verTratamientos(paciente)">
        <i class="fas fa-list"></i> Tratamientos
      </button>
    </li>
    
  </ul>

  <div *ngIf="selectedPaciente" class="editar-paciente">
    <h2>Editar Paciente</h2>
    <form [formGroup]="pacienteForm" (ngSubmit)="guardarCambios()">
      <div>
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text">
      </div>
      <div>
        <label for="apellido">Apellido:</label>
        <input id="apellido" formControlName="apellido" type="text">
      </div>
      <div>
        <label for="nombre_completo">Nombre Completo:</label>
        <input id="nombre_completo" formControlName="nombre_completo" type="text">
      </div>
      <div>
        <label for="cedula">Cédula:</label>
        <input id="cedula" formControlName="cedula" type="text">
      </div>
      <div>
        <label for="direccion">Dirección:</label>
        <input id="direccion" formControlName="direccion" type="text">
      </div>
      <div>
        <label for="telefono">Teléfono:</label>
        <input id="telefono" formControlName="telefono" type="number">
      </div>
      <div>
        <label for="ocupacion">Ocupación:</label>
        <input id="ocupacion" formControlName="ocupacion" type="text">
      </div>
      <div>
        <label for="genero">Género:</label>
        <input id="genero" formControlName="genero" type="text">
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email">
      </div>
      <div>
        <label for="nacimiento">Fecha de Nacimiento:</label>
        <input id="nacimiento" formControlName="nacimiento" type="date">
      </div>
      <button type="submit" [disabled]="pacienteForm.invalid">Guardar Cambios</button>
      <button type="button" (click)="cancelarEdicion()">Cancelar</button>
    </form>
  </div>
</div>
