<div class="container">
    <h2>Registro de Nuevo Paciente</h2>
    <form (ngSubmit)="submitForm()" #pacienteForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="paciente.nombre">
      </div>
      <div class="form-group">
        <label for="edad">Edad:</label>
        <input type="number" class="form-control" id="edad" name="edad" required [(ngModel)]="paciente.edad">
      </div>
      <div class="form-group">
        <label for="sexo">Sexo:</label>
        <select class="form-control" id="sexo" name="sexo" required [(ngModel)]="paciente.sexo">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="pacienteForm.invalid">Registrar Paciente</button>
    </form>
  </div>