<div class="container coquette">
    <button type="button" (click)="home()"> <i class="fas fa-home"></i>  </button>
    <h1>Gestión de Catalogos</h1>

    <form [formGroup]="formulario" (ngSubmit)="guardar()">
      <label>Nombre:</label>
      <input formControlName="nombre" type="text">
      <label>Descripción:</label>
      <input formControlName="descripcion" type="text">
      <label>Tipo:</label>
      <input formControlName="tipo" type="text" appUppercase >
      <div class="buttons">
        <button type="submit" class="btn primary">{{ editando ? 'Actualizar' : 'Guardar' }}</button>
        <button type="button" *ngIf="editando" (click)="cancelarEdicion()" class="btn secondary">Cancelar</button>
      </div>
    </form>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of tratamientos">
          <td>{{ t.nombre }}</td>
          <td>{{ t.descripcion }}</td>
          <td>{{ t.tipo }}</td>
          <td>
            <button (click)="editar(t)" class="btn edit fas fa-pencil-alt" title="Editar"></button>
            <button (click)="eliminar(t.id)" class="btn delete fas fa-trash-alt" title="Eliminar"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>