<header>
    <h1>Bienvenida a la Página del Consultorio</h1>
    <img src="assets/images/logo.png" alt="Logo">
</header>
  
<nav class="consultorio-content">
    <ul>
        <li><button><i class="fas fa-calendar-alt"></i> Citas</button></li>
        <li><button><i class="fas fa-user-friends"></i> Pacientes</button></li>
        <li><a routerLink="/pacientes/nuevo"><i class="fas fa-user-plus"></i> Crear Paciente</a></li>
        <li><a routerLink="/pacientes"><i class="fas fa-users"></i> Pacientes</a></li>
        <li><a routerLink="/historia-clinica"><i class="fas fa-heartbeat"></i> Historia Clínica</a></li>
        <li><a routerLink="/citas"><i class="fas fa-calendar-alt"></i> Citas</a></li>
        <li><a routerLink="/facturacion"><i class="fas fa-file-invoice"></i> Facturación</a></li>
    </ul>
    
  </nav>