<div class="gestion-citas">
  <div class="container">
    <button type="button" (click)="home()"> <i class="fas fa-home"></i> </button>
    <h1>Gestión de Citas</h1>
    <div class="calendar">
      <div class="navigation">
        <button (click)="previousMonth()" class="btn btn-secondary" ngbPopover="Mes Anterior"
          poppoverTitle="Popover on top">
          <i class="fas fa-arrow-left"></i></button>
        <button (click)="viewToday()" class="btn btn-secondary btn-sm" ngbPopover="Hoy"
          poppoverTitle="Popover on top"><i class="fas fa-calendar-alt"></i> Hoy</button>
        <button (click)="nextMonth()" class="btn btn-secondary" ngbPopover="Mes Siguiente"
          poppoverTitle="Popover on top">
          <i class="fas fa-arrow-right"></i></button>
      </div>
      <span>{{ viewDate | date: 'MMMM yyyy' }}</span>
      <div class="view-buttons">
        <button (click)="setView(CalendarView.Month)" class="btn btn-secondary btn-sm">Mes</button>
        <button (click)="setView(CalendarView.Week)" class="btn btn-secondary btn-sm">Semana</button>
        <button (click)="setView(CalendarView.Day)" class="btn btn-secondary btn-sm">Día</button>
      </div>
      <ng-container [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" [activeDayIsOpen]="false" (dayClicked)="dayClicked($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="editEvent($event.event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="editEvent($event.event)">
        </mwl-calendar-day-view>
      </ng-container>

      <div *ngIf="selectedDay" class="slide-in show" id="citasDia">
        <h3>Citas para {{ selectedDay | date: 'fullDate' }}</h3>
        <ul *ngIf="selectedEvents.length > 0; else noEvents">
          <li *ngFor="let event of selectedEvents" [ngClass]="{'text-danger': event.meta?.status === 'cancelled'}">
            <span *ngIf="event.meta?.status === 0 || event.meta?.status === 'cancelled' || event.meta?.status === '0'" style="color: red; text-transform: uppercase;">CANCELADO </span>{{ event.title }}
            <button (click)="editEvent(event)" class="btn btn-primary btn-sm" title="Editar">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteEvent(event)" class="btn btn-danger btn-sm" title="Eliminar">
              <i class="fas fa-trash-alt"></i>
            </button>
            <button (click)="registerTreatment(event)" class="btn btn-success btn-sm" title="Registrar Tratamiento">
              <i class="fas fa-plus-circle"></i>
            </button>
          </li>
        </ul>
        <ng-template #noEvents>
          <p>No hay citas para este día.</p>
        </ng-template>
        <button (click)="openAddModal()" class="btn btn-primary btn-sm">Agregar Cita</button>
      </div>
      <!-- Modal para agendar una nueva cita -->
      <ng-template #modalContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{ isEdit ? 'Editar' : 'Agendar' }} Cita</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <p>Día seleccionado: {{ selectedDay | date: 'fullDate' }}</p>
          <form (ngSubmit)="saveEvent()">
            <div class="mb-3">
              <label for="title" class="form-label">Descripción</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="newEvent.title" name="title" required [disabled]="isEdit">
            </div>
            <div class="mb-3">
              <label for="patient" class="form-label">Paciente</label>
              <select class="form-control" id="patient" [(ngModel)]="newEvent.patient" name="patient" required [disabled]="isEdit">
                <option *ngFor="let patient of pacientes" [value]="patient.id">{{ patient.nombre }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="hour" class="form-label">Hora</label>
              <input type="time" class="form-control" id="hour" [(ngModel)]="newEvent.hour" name="hour" required [disabled]="isSaving">
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Estado</label>
              <select class="form-control" id="status" [(ngModel)]="newEvent.status" name="status" [disabled]="isSaving">
                <option value="active">Activo</option>
                <option value="cancelled">Cancelado</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="isSaving">{{ isEdit ? 'Actualizar' : 'Guardar' }}</button>
          </form>
        </div>
      </ng-template>
    </div>