.gestion-citas {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .gestion-citas h2 {
    text-align: center;
    color: #d18ca4;
  }
  
  .gestion-citas form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .gestion-citas form div {
    display: flex;
    flex-direction: column;
  }
  
  .gestion-citas form label {
    color: #d18ca4;
  }
  
  .gestion-citas form input, .gestion-citas form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .gestion-citas form button {
    background-color: #d18ca4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gestion-citas form button:disabled {
    background-color: #ccc;
  }
  
  .gestion-citas h3 {
    margin-top: 20px;
    color: #d18ca4;
  }
  
  .gestion-citas div p {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  


  .container {
    font-family: 'Arial, sans-serif';
    color: #5D3FD3;
    margin: 20px auto;
    max-width: 900px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #FFF5F7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FFD1DC;
  }

  h1 {
    text-align: center;
    /* color: #5D3FD3; */
    color: #d18ca4;
    /* text-align: center; */
    /* color: #E75480; */
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .calendar {
    margin: 20px auto;
    max-width: 900px;
    background-color: #FFF5F7;
    border: 1px solid #FFD1DC;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #E75480;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .navigation button {
    background-color: #d18ca4;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navigation button:hover {
    background-color: #d85683;
  }
    
  .view-buttons button {
    background-color: #d18ca4;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-buttons button:hover {
    background-color: #d85683;
  }
  .slide-in {
    transition: all 0.5s ease;
    overflow: hidden;
  }
  
  .slide-in.show {
    max-height: 300px; /* Adjust this as needed */
  }
  
  .slide-in.hide {
    max-height: 0;
  }
  
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #d18ca4;
}

li button {
  margin-left: 10px;
  background-color: #d18ca4;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.li button:hover {
  background-color: #d85683;
}
.cal-month-view .cal-open-day-events {
  color: #5D3FD3 !important;
  background-color: #FFF5F7 !important;
  border: 1px solid #FFD1DC !important;
  box-shadow: inset 0 0 15px 0 rgb(0 0 0 / 34%) !important;
}