/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.blue-snackbar {
    background: #2196f3; /* Azul - Info */
    color: white;
  }

  .red-snackbar {
    background: #f44336; /* Rojo - Error */
    color: white;
  }

  .yellow-snackbar {
    background: #ff9800; /* Amarillo - Warning */
    color: white;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
