<div class="tratamiento-paciente-container">
    <h2>Nuevo Tratamiento</h2>
    <button (click)="regresar()">
      <span class="fas fa-arrow-left"></span> Atras
    </button>
    <div><br></div>
    <form [formGroup]="tratamientoForm" (ngSubmit)="guardarTratamiento()">
      <div>
        <label for="antecedente">Formulario (Antecedente):</label>
        <select id="antecedente" formControlName="antecedente">
          <option value="" disabled>Seleccione un formulario</option>
          <option *ngFor="let catalogo of catalogosFormularios" [value]="catalogo.id">{{ catalogo.nombre }}</option>
        </select>
      </div>
      <div>
        <label for="descripcionTratamiento">Descripción:</label>
        <input id="descripcionTratamiento" formControlName="descripcion" type="text">
      </div>
      <div>
        <label for="observacionTratamiento">Observación:</label>
        <textarea id="observacionTratamiento" formControlName="observacion"></textarea>
      </div>

      <div>
        <label for="tipo_tratamiento">Tipo de Tratamiento:</label>
        <select id="tipo_tratamiento" formControlName="tipo_tratamiento">
          <option value="" disabled>Seleccione un tratamiento</option>
          <option *ngFor="let catalogo of catalogos" [value]="catalogo.id">{{ catalogo.nombre }}</option>
        </select>
      </div>
      <div>
        <label for="zonas_tratar">Zonas a Tratar:</label>
        <input id="zonas_tratar" formControlName="zonas_tratar" type="text">
      </div>
      <div>
        <label for="fecha_tratamiento">Fecha del Tratamiento:</label>
        <input id="fecha_tratamiento" formControlName="fecha_tratamiento" type="date">
      </div>
      <div class="signature-container">
        <label>Firma:</label>
        <div style="background-color: white; border: 1px solid #ccc; width: 800px; height: 300px;">
          <canvas #signatureCanvas width="800" height="300"></canvas>
        </div>
        <button type="button" (click)="clearSignature()">Borrar Firma</button>
      </div>
      <button type="submit" [disabled]="tratamientoForm.invalid">Guardar Tratamiento</button>
      <button (click)="regresar()">Cancelar</button>
    </form>
  </div>
